#main-section
{
    display: flex;
    height: 460px;
    border: 1px solid black;
}
#left-column
{
    height: 460px;
    width: 10%;
    border: 1px solid black;
    background-color: coral;
}

#right-column
{
    display: flex;
    flex-direction: column;
    height: 460px;
    border: 1px solid black;
    background-color: aquamarine;
    width: 90%;
}

#head,#foot
{
    height: 60px;
    width: 100%;
    border: 1px solid black;
    background-color: darkgray;
}

#content-section
{
    display: flex;
    height: 340px;
    width: 100%;
    border: 1px solid black;
    background-color: darkorange;
}

#left
{
    height: 340px;
    width: 60%;
    border: 1px solid black;
    background-color: dodgerblue;
}
#right
{
    height: 340px;
    width: 40%;
    border: 1px solid black;
    background-color: red;
}
